<!DOCTYPE html>
{% extends "RoboStockApp/base.html" %}
  {% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Stock Watchlists</h1>
      <p>Select a stock from the drop-down menu and query it's cloing price history</p>
    </div>
  <div class="container">

    <form action="{% url 'RoboStockApp:watchlists' %}" method="post">
        {% csrf_token %}

        <label for="stock_symbol">Choose Stock Symbol:</label>
        <select name="stock_quote" id="stock_quote">
          <option value="">Select a Stock Symbol</option>
          <option value="">AAPL</option>
          <option value="TSLA">TSLA</option>
          <option value="GOOGL">GOOGL</option>
          <option value="MRNA">MRNA</option>
          <option value="VZ">VZ</option>
          <option value="FB">FB</option>
          <option value="JNJ">JNJ</option>
          <option value="NKE">NKE</option>
          <option value="COKE">COKE</option>
        </select>

        <input type="submit" name="" value="Query Data">
    </form>

    <!--Load the AJAX API-->
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">

        // Load the Visualization API and the controls package.
        google.charts.load('current', {'packages':['corechart', 'controls']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawDashboard);

        // Callback that creates and populates a data table,
        // instantiates a dashboard, a range slider and a pie chart,
        // passes in the data and draws it.
        function drawDashboard() {

          // Create our data table.
          var data = google.visualization.arrayToDataTable({{values|safe}});

          // Create a dashboard.
          var dashboard = new google.visualization.Dashboard(
              document.getElementById('dashboard_div'));

          // Create a range slider, passing some options
          var rangeSlider = new google.visualization.ControlWrapper({
            'controlType': 'NumberRangeFilter',
            'containerId': 'filter_div',
            'options': {
              'filterColumnLabel': 'Close'
            }
          });

          // Create a pie chart, passing some options
          var lineChart = new google.visualization.ChartWrapper({
            'chartType': 'LineChart',
            'containerId': 'chart_div',
            'options': {
              'width': 1200,
              'height': 1200,
              'pieSliceText': 'value',
              'legend': 'right',
              'title':{{title|safe}},
              'hAxis':{title: {{h_title|safe}}},
              'vAxis':{title: {{v_title|safe}}},
            }
          });

          // Establish dependencies, declaring that 'filter' drives 'pieChart',
          // so that the pie chart will only display entries that are let through
          // given the chosen slider range.
          dashboard.bind(rangeSlider, lineChart);

          // Draw the dashboard.
          dashboard.draw(data);
        }
      </script>

      <body>
        <!--Div that will hold the dashboard-->
        <div id="dashboard_div">
          <!--Divs that will hold each control and chart-->
          <div id="chart_div"></div>
          <div id="filter_div"></div>
        </div>
      </body>

  {% endblock %}
